.nav {
    overflow: hidden;
    bottom: 0;
    width: 100%;
  }
  
  /* .nav a {
    text-align: center;
    font-size: 12px;
    text-decoration: none;
    background-color: lightgrey;
    color: #0047be;
  }
  
  a:hover{
    background-color: #fbd291;
  } */

.wrapper {
  display: grid;
  grid-template-columns: 0px auto;
  grid-row-start: 1;
  grid-row-end: 15;
  grid-row-gap: 45px;
}

.search{
  text-align: center;
  width: 60%;
  padding-left: 45px;
} 

.buttons{
  text-align: center;
  position: absolute;
  bottom: 2%;
  left: 41%;
}

.changeuser{
  text-align: center;
  position: relative;

}
.home-button{
  text-align: center;
  transition-duration: 0.4s;
  font-size: 40px;
  text-decoration: none;
  background-color: lightgrey;
  color: #0047be;
  padding: 5px 20px;
}

.rec-button{
  text-align: center;
  transition-duration: 0.4s;
  font-size: 40px;
  text-decoration: none;
  background-color: lightgrey;
  color: #0047be;
  padding: 5px 20px;
}

.shopping-button{
  text-align: center;
  transition-duration: 0.4s;
  font-size: 40px;
  text-decoration: none;
  background-color: lightgrey;
  color: #0047be;
  padding: 5px 20px;
}

.nav-button{
  text-align: center;
  font-size: 12px;
  text-decoration: none;
  background-color: lightgrey;
  color: #0047be;
  transition-duration: 0.4s;
}

.sandwich-button{
  text-align: center;
  font-size: 12px;
  text-decoration: none;
  background-color: #feedd3;
  color: #7e0909;
  transition-duration: 0.4s;
  padding: 1px 100px;
  margin-left: 38px;
  margin-bottom: 30px;
}

.fruit-button{
  text-align: center;
  font-size: 12px;
  text-decoration: none;
  background-color: #feedd3;
  color: #7e0909;
  transition-duration: 0.4s;
  padding: 1px 100px;
  margin-left: 38px;
  margin-bottom: 30px;
}

.omelette-button{
  text-align: center;
  font-size: 12px;
  text-decoration: none;
  background-color: #feedd3;
  color: #048a26;
  transition-duration: 0.4s;
  padding: 1px 100px;
  margin-left: 38px;
  margin-bottom: 30px;
}

.back-button{
  text-align: center;
  font-size: 3px;
  text-decoration: none;
  background-color: #feedd3;
  color: #0047be;
  transition-duration: 0.4s;
  position: fixed;
  top: 155px;
}

.nav-button:hover {
  background-color: #fbd291;
}

.home-button:hover {
  background-color: #fbd291;
}

.rec-button:hover {
  background-color: #fbd291;
}

.shopping-button:hover {
  background-color: #fbd291;
}